<div class="max-w-full overflow-auto border-t">
  <table class="table no-break-line w-full" id="customers-table" data-controller="table-sort">
    <thead>
      <tr>
        <%= render Shared::SortColumnComponent.new(title: 'Tên', column: 'name') %>
        <%= render Shared::SortColumnComponent.new(title: 'H.Động', column: 'enabled') %>
        <%= render Shared::SortColumnComponent.new(title: 'ĐB.Dữ liệu', column: 'sync_data') %>
        <th class="disable-sort">
          <div class="flex justify-end w-full">
            <div class="w-fit cursor-pointer" data-controller="turbo-fetch" data-url="<%= new_admin_customer_path %>">
              <%== svg_icon 'add', class: 'w-6 h-6' %>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% customers.each do |customer| %>
        <tr id="customer_<%= customer.id %>">
          <td><%= customer.name %></td>
          <td><%= customer.enabled ? 'Có' : 'Không' %></td>
          <td>
            <div class="grid gap-1">
              <% if customer.sync_data %>
                <div class="grid text-sm">
                  <div>- Danh mục món</div>
                  <div>- Tuỳ chọn</div>
                  <div>- D.Sách Bill</div>
                  <% if customer.sync_voucher? %><div>- D.Sách thu/chi</div><% end %>
                  <% if customer.sync_purchase? %><div>- Nhập Hàng</div><% end %>
                  <% if customer.sync_inventory? %><div>- Xuất nhập tồn</div><% end %>
                </div>
              <% else %>
                <span class="text-red-600">Không</span>
              <% end %>
            </div>
          </td>
          <td>
            <div class="flex gap-2 items-center justify-end">
              <div title="Cập nhật khách hàng" class="w-fit cursor-pointer" data-controller="turbo-fetch" data-url="<%= edit_admin_customer_path(customer.id) %>">
                <%== svg_icon 'edit', class: 'w-6 h-6' %>
              </div>

              <%= link_to admin_customer_syncs_path(customer.id), data: { turbo: false }, title: 'Đồng bộ' do %>
                <%== svg_icon 'sync', class: 'w-6 h-6' %>
              <% end %>

              <%= link_to admin_customer_shifts_path(customer.id), data: { turbo: false }, target: '_blank', title: 'Danh sách ca bán hàng' do %>
                <%== svg_icon 'shift', class: 'w-6 h-6' %>
              <% end %>

              <%= link_to admin_customer_users_path(customer.id), data: { turbo: false }, title: 'Danh sách người dùng' do %>
                <%== svg_icon 'users', class: 'w-6 h-6' %>
              <% end %>

              <%= link_to admin_customer_path(customer.id), title: 'Xoá khách hàng', data: { "turbo-method" => :delete, 'turbo-confirm' => 'Xoá khách hàng này, toàn bộ dữ liệu liên quan sẽ mất. Bạn chắc chặn không?' } do %>
                <%== svg_icon 'trash', class: 'w-6 h-6' %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
