<div class="max-w-full overflow-auto border-t">
  <table class="table no-break-line w-full" id="settings-table" data-controller="table-sort">
    <thead>
      <tr>
        <%= render Shared::SortColumnComponent.new(title: 'TÊN', column: 'label') %>
        <%= render Shared::SortColumnComponent.new(title: 'GIÁ TRỊ', column: 'value', th_class: 'h-6') %>
      </tr>
    </thead>
    <tbody>
      <% settings.each do |setting| %>
        <tr id="setting_<%= setting.id %>" data-controller="turbo-fetch" data-url="<%= edit_admin_setting_path(setting.id) %>">
          <td>
            <div class="flex items-center h-6">
              <%= setting.label %>
            </div>    
          </td>
          <td>
            <% if setting.boolean? %>
              <%= setting.value == '1' ? 'Có' : 'Không' %>
            <% else %>
              <%= setting.value %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>