<div data-controller="live-data">
  <div class="p-2 flex w-full">
    <div class="text-red-600 font-bold grow">
      <%= busy_tables.size %>/<%= tables.size %>
    </div>

    <div class="grid flex-none">
      <div class="font-bold flex">
        <div class="w-[80px]">Chưa thu</div>
        <div class="text-red-600"><%= show_money busy_tables_sum %></div>
      </div>

      <div class="font-bold flex">
        <div class="w-[80px]">Đã thu</div>
        <div class="text-green-800"><%= show_money shift['total'] %></div>
      </div>
    </div>
  </div>

  <hr class="border-gray-300" />

  <div class="p-2">
    <div class="grid grid-cols-3 md:grid-cols-6 gap-2">
      <% tables.each do |table| %>
        <div class="<%= build_table_css(table) %>" <%= "data-action=click->live-data#showTable data-table-no=#{table['uuid']}" if table['busy'] %>>
          <div><%= table['table_no'] %></div>
          <div><%= show_time_ago(table['in_time']) if table['in_time'].present? %></div>
          <div class="flex items-end justify-end"><%= show_money(table['total']) if table['busy'] %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
