<div class="max-w-full overflow-auto border-t">
  <table class="table no-break-line w-full" id="inventories-table">
    <tbody>
      <% inventories.each do |inventory| %>
        <tr id="inventory_<%= inventory.id %>">
          <td>
            <div class="grid gap-2">
              <div class="leading-none">
                <%= inventory.name %> | MÃ: <%= inventory.no %> | ĐVT: <%= inventory.unit %>
              </div>
              <div class="grid grid-cols-4 gap-2">
                <div class="grid gap-1">
                  <div class="font-bold text-gray-500 text-right text-sm leading-none">ĐẦU</div>
                  <div class="text-right leading-none"><%= inventory.open %></div>
                </div>
                <div class="grid gap-1">
                  <div class="font-bold text-gray-500 text-right text-sm leading-none">NHẬP</div>
                  <div class="text-right leading-none"><%= inventory.input %></div>
                </div>
                <div class="grid gap-1">
                  <div class="font-bold text-gray-500 text-right text-sm leading-none">XUẤT</div>
                  <div class="text-right leading-none"><%= inventory.output %></div>
                </div>
                <div class="grid gap-1">
                  <div class="font-bold text-gray-500 text-right text-sm leading-none">CUỐI</div>
                  <div class="text-right leading-none"><%= inventory.close %></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="overflow-auto flex items-center justify-center h-10 mx-2">
  <%== pagy_nav(pagy) if pagy.pages > 1 %>
</div>
