<div class="max-w-full overflow-auto border-t">
  <table class="table no-break-line w-full" id="purchases-table" data-controller="table-sort">
    <thead>
      <tr>
        <%= render Shared::SortColumnComponent.new(title: 'S.Phiếu', column: 'no') %>
        <%= render Shared::SortColumnComponent.new(title: 'N.C.C', column: 'ncc') %>
        <%= render Shared::SortColumnComponent.new(title: 'Tiền', column: 'total', th_class: 'justify-end h-6') %>
      </tr>
    </thead>
    <tbody>
      <% purchases.each do |purchase| %>
        <tr id="purchase<%= purchase.id %>" class="cursor-pointer" data-controller="turbo-fetch" data-url="<%= show_purchase_path(purchase_id: purchase.id) %>">
          <td>
            <div class="grid gap-2">
              <span class="font-bold"><%= purchase.no %></span>
              <span class="text-xs"><%= purchase.time.strftime('%Y-%m-%d %H:%M') %></span>
            </div>
          </td>
          <td>
            <div class="grid gap-2">
              <span><%= purchase.provider_name %></span>
              <span class="text-xs"><%= purchase.phone_number %></span>
            </div>
          </td>
          <td>
            <div class="grid gap-2">
              <span class="font-bold flex justify-end"><%= show_money purchase.total %></span>
              <% if purchase.paid %>
                <span class="text-green-700 text-xs flex justify-end">Đã thanh toán</span>
              <% else %>
                <span class="text-red-600 text-xs flex justify-end">Chưa thanh toán</span>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="overflow-auto flex items-center justify-center h-10 mx-2">
  <%== pagy_nav(pagy) if pagy.pages > 1 %>
</div>
