<%= form_for('q', as: :q, url: report_index_path, html: { id: 'report-search-bill-form', method: 'GET' }) do |f| %>
  <input
    type="hidden" value="<%= query_attributes[:from] %>"
    required name="q[from]" id="q_from">
  <input 
    type="hidden" value="<%= query_attributes[:to] %>"
    required name="q[to]" id="q_to">

  <div class="grid grid-cols-3 gap-2 w-full md:w-[500px] px-2">
    <input 
      type="text" value="<%= query_attributes[:bill_no] %>"
      name="q[bill_no]" id="q_bill_no"
      autocomplete="off" class="txt" placeholder="Số bill">

    <input 
      type="text" value="<%= query_attributes[:table_no] %>"
      name="q[table_no]" id="q_table_no"
      autocomplete="off" class="txt" placeholder="Số bàn">

    <div>
      <%= f.submit "Tìm", class: 'btn' %>
    </div>
  </div>
<% end %>
