<div class="grid gap-2">
  <hr class="bg-gray-500 my-2" />

  <div class="px-2 flex gap-1 font-bold">
    <div class="w-[130px]">Nhập hàng</div>
    <div class="w-[150px] text-blue-500 flex justify-end"><%= show_money(@report_builder.sum_purchases) %></div>
  </div>

  <div class="px-2 flex gap-1 font-bold">
    <div class="w-[130px]">Đã T.T</div>
    <div class="w-[150px] text-green-700 flex justify-end"><%= show_money(@report_builder.sum_paid_purchases) %></div>
  </div>

  <div class="px-2 flex gap-1 font-bold">
    <div class="w-[130px]">Chưa T.T</div>
    <div class="w-[150px] text-red-600 flex justify-end"><%= show_money(@report_builder.sum_unpaid_purchases) %></div>
  </div>

  <div class="flex items-center font-bold px-2">
    <div class="grow">
      <%= link_to "Nhập hàng (#{@purchases_pagy.count})", report_index_path(q: query_attributes.except(:show_provider)) %>  
    </div>
    <div class="flex-none">
      <%= link_to "Nhà.C.C (#{@providers_pagy.count})", report_index_path(q: query_attributes.merge(show_provider: 'yes')) %>  
    </div>
  </div>
  <% if query_attributes[:show_provider] == 'yes' %>
    <%= render Report::ProvidersTableComponent.new(providers: @providers, pagy: @providers_pagy) %>
  <% else %>
    <%= render Report::SearchPurchaseFormComponent.new %>
    <%= render Report::PurchasesTableComponent.new(purchases: @purchases, pagy: @purchases_pagy) %>
  <% end %>
</div>
