<div class="grid gap-4 mb-24 select-none">
  <div class="px-2 pt-2">
    <%= render Report::SearchFormComponent.new %>
  </div>

  <%= render 'summary' %>
  
  <div class="max-w-full overflow-auto">
    <div class="grid gap-2">
      <div data-controller="barchart" data-chart-data="<%= @chart_data.to_json %>">
        <canvas id="bar-chart" data-barchart-target="myChart" width="1000" height="250"></canvas>
      </div>
    </div>
  </div>

  <div class="w-full h-3"></div>
  <%= render 'bills' %>

  <% if current_tenant.sync_voucher? %>
    <div class="w-full h-3"></div>
    <%= render 'vouchers' %>
  <% end %>
  
  <% if current_tenant.sync_purchase? %>
    <div class="w-full h-3"></div>
    <%= render 'purchases' %>
  <% end %>

  <% if current_tenant.sync_inventory? %>
    <div class="w-full h-3"></div>
    <%= render 'inventories' %>
  <% end %>
</div>
