<div class="grid gap-4 mb-24 select-none">
  <div class="px-2 pt-2">
    <%= render Report::SearchFormComponent.new %>
  </div>
  
  <div class="grid gap-1">
    <div class="px-2 flex gap-1 font-bold">
      <div class="w-[100px]">Doanh thu</div>
      <div class="w-[150px] text-red-600 flex justify-end"><%= show_money(@report_builder.sum_shifts) %></div>
    </div>

    <div class="px-2 flex gap-1 font-bold">
      <div class="w-[100px]">Thu ngoài</div>
      <div class="w-[150px] text-red-600 flex justify-end"><%= show_money(@report_builder.sum_receipt_vouchers) %></div>
    </div>

    <div class="px-2 flex gap-1 font-bold">
      <div class="w-[100px]">Chi</div>
      <div class="w-[150px] text-red-600 flex justify-end"><%= show_money(@report_builder.sum_payment_vouchers) %></div>
    </div>

    <div class="px-2 flex gap-1 font-bold">
      <div class="w-[100px]">Còn lại</div>
      <div class="w-[150px] text-red-600 flex justify-end"><%= show_money(@report_builder.sum_shifts + @report_builder.sum_receipt_vouchers - @report_builder.sum_payment_vouchers) %></div>
    </div>
  </div>
  
  <div class="max-w-full overflow-auto">
    <div class="grid gap-2">
      <div data-controller="barchart" data-chart-data="<%= @chart_data.to_json %>">
        <canvas id="bar-chart" data-barchart-target="myChart" width="1000" height="250"></canvas>
      </div>
    </div>
  </div>

  <div class="grid gap-2">
    <div class="font-bold px-2">Danh sách đơn hàng (<%= @bills_pagy.count %>)</div>
    <%= render Report::SearchBillFormComponent.new %>
    <%= render Report::BillsTableComponent.new(bills: @bills, pagy: @bills_pagy) %>

    <div></div>
    <div></div>
    <div></div>
    
    <div class="font-bold px-2 flex gap-4">
      <%= link_to "Danh sách Phiếu (#{@vouchers_pagy.count})", report_index_path(q: query_attributes.except(:v_kind)) %>
      <%= link_to 'Thu', report_index_path(q: query_attributes.merge(v_kind: 'receipt')), class: 'text-green-700' %>
      <%= link_to 'Chi', report_index_path(q: query_attributes.merge(v_kind: 'payment')), class: 'text-red-600' %>
    </div>
    <%= render Report::VouchersTableComponent.new(vouchers: @vouchers, pagy: @vouchers_pagy) %>
  </div>
</div>
