<div class="px-4 py-2 font-bold">
  <div class="flex items-center">
    <div class="grow">Quản lý Món (<%= @pagy.count %>)</div>
    <div class="flex-none">
      <div class="w-fit cursor-pointer flex items-center gap-2" data-controller="turbo-fetch" data-url="<%= new_admin_product_path %>">
        <div><%== svg_icon 'add', class: 'w-4 h-4' %></div>
        <div>Món</div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/notice' %>
<hr class="border-gray-300" />
<div class="grid gap-2">
  <div class="pt-2">
    <%= render Admin::Products::SearchFormComponent.new %>
  </div>
  <%= render Admin::Products::TableComponent.new(products: @products, pagy: @pagy) %>  
</div>
<div class="w-full h-20"></div>
