<div class="max-w-full overflow-auto border-t">
  <table class="table no-break-line w-full" id="users-table" data-controller="table-sort">
    <thead>
      <tr>
        <%= render Shared::SortColumnComponent.new(title: 'T.Khoản', column: 'name') %>
        <%= render Shared::SortColumnComponent.new(title: 'Quyền', column: 'role') %>
        <th class="disable-sort">
          <div class="flex justify-end w-full">
            <div class="w-fit cursor-pointer" data-controller="turbo-fetch" data-url="<%= new_admin_tenant_user_path(tenant_id: tenant.id) %>">
              <%== svg_icon 'add', class: 'w-6 h-6' %>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr id="user_<%= user.id %>">
          <td><%= user.username %></td>
          <td><%= user.role_humanize %></td>
          <td>
            <% unless user.admin? %>
              <div class="flex gap-2 items-center justify-end">
                <div class="w-fit cursor-pointer" data-controller="turbo-fetch" data-url="<%= edit_admin_tenant_user_path(user.id, tenant_id: user.tenant_id) %>">
                  <%== svg_icon 'edit', class: 'w-6 h-6' %>
                </div>

                <%= link_to admin_tenant_user_path(user.id, tenant_id: user.tenant_id), data: { "turbo-method" => :delete, 'turbo-confirm' => 'Xoá người dùng này. Bạn chắc chặn không?' } do %>
                  <%== svg_icon 'trash', class: 'w-6 h-6' %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
