<!DOCTYPE html>
<html>
  <head>
    <title>Vanct</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased">
    <%= render Layout::HeaderComponent.new %>
    <%= yield %>
    <div id="turbo-modal"></div>
    <div id="turbo-klass" class="hidden"></div>
    <div id="turbo-redirect" class="hidden"></div>
  </body>
</html>
